@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
h1 {
	text-align: center
}

p{
	text-align: center
}


html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
h3{
	text-align: center;
}

.banner {
  width: 100%;
  min-height: 100px;
  background-image: url(img/banner.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.banner:before {
  content: "";
  position: absolute;
  background: white;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  border-bottom: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #D0D0D0;
  z-index: 999;
  }

nav .logo {
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
  text-decoration: none;
}

nav .logo:hover {
  color: black;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
}

nav ul li a {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s;
}

.containerss a {
  font-size: 20px;
}
nav ul li a:hover {
  color: #7564e5;
  text-decoration: none;
}
nav .btn {
  width: 80px;
}
nav .btn:hover {
  background-color: #7564e5;
}

.header.sticky {
  background: #ffffff;
  position: fixed;
  width: 100%;
  padding: 10px 80px;
  top: 0;
  transition: all 0.4s ease;
  box-shadow: 0px 1px 15px rgb(0 0 0 / 10%);
  z-index: 999;
}

.header.sticky .logo {
  color: #7564e5;
}

.header.sticky ul li a {
  color: #333333;
}

.header.sticky ul li a:hover {
  color: #7564e5;
}

.banner-text {
  padding-top: 700px;
  width: 70%;
  margin: auto;
  padding-bottom: 200px;
  color: white;
}

/* Carousel **/
.carousel-item {
  height: 32rem;
  background: #777777;
  color: white;
  position: relative;
}

.containerss {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding-bottom: 100px;
  padding-left: 100px;
}



.overlay-image {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container {
  display: flex;
  justify-content: center;
}
.cat,

.dog

 {
  object-fit: cover;
  float: left;
  height: 256px;
  width: 256px;
  box-shadow: 2px 2px 7px black;
  margin: 20px;
}


/* when hover*/
.pOverlay {
  height: 256px;
  width: 256px;
  margin: 20px;
  opacity: 0;
  transition: 0.5s ease;
  background-color: white;
  position: absolute;
  text-align: center;
}

.product:hover .pOverlay {
  opacity: 0.75;
}

.ptext {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: black;
}

.bio p {
  margin: 0;
}



/* Footer*/
.footer-distributed {
  background: #444444;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  height: 42%;
  font: bold 16px sans-serif;
  text-align: left;
  padding: 40px 60px 40px;
  overflow: hidden;
}

section {
  width: 100%;
  display: inline-block;
  background: #cccccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed .footer-left {
  float: left;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Roboto", cursive;
  margin: 0 0 10px;
}
.footer-distributed h3 span {
  color: #5383d3;
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-icons {
  margin-top: 40px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Footer Right */
.footer-distributed .footer-right {
  float: right;
}

.footer-distributed .footer-right p {
  display: inline-block;
  vertical-align: top;
  margin: 15px 42px 0 0;
  color: #ffffff;
}

.footer-distributed form {
  display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea {
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;

  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color: #d1d2d2;

  width: 400px;
  padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
  color: #5c666b;
}

.footer-distributed ::-moz-placeholder {
  color: #5c666b;
  opacity: 1;
}

.footer-distributed :-ms-input-placeholder {
  color: #5c666b;
}

.footer-distributed form input {
  height: 55px;
  margin-bottom: 15px;
}

.footer-distributed form textarea {
  height: 100px;
  margin-bottom: 20px;
}

.footer-distributed form button {
  border-radius: 3px;
  background-color: #33383b;
  color: #ffffff;
  border: 0;
  padding: 15px 50px;
  font-weight: bold;
  float: right;
}

.signup-form-form {
  text-align: center;
  background: white;
  height: 500px;
  margin-top: 100px;
  margin-bottom: 70px;
  border: 1px solid white;
  border-radius: 20px;
}

h2 {
  color: black;
  font-family: "Poppins", sans-serif;
}

input {
  padding: 1px 10px 1px 10px;
  text-align: center;
  margin-bottom: 10px;
  border: solid 1px white;
  border-radius: 13px;
  box-shadow: 0 0 4px 4px #a29bfe;
}

.text1 {
  text-align: center;
  color: purple;
}

.row-form {
  background: linear-gradient(120deg, #2980b9, #8e44ad);
}

button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 150px;
  padding: 15px 20px;
  text-align: center;
  border: none;
  background: #a29bfe;
  outline: none;
  border-radius: 30px;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.purple {
  color: #d2a8ff;
}

.blue {
  color: #79c0ff;
}

.green {
  color: #7ee787;
}

.card {
  background-image: url(https://i.stack.imgur.com/34AD2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1px black;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  position: relative;
  right: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  position: static;
}

/** Product Slider **/
#slider-text{
  padding-top: 40px;
  display: block;
}
#slider-text .col-md-6{
  overflow: hidden;
}

#slider-text h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 3px;
  margin: 30px auto;
  padding-left: 40px;
}
#slider-text h2::after{
  border-top: 2px solid #c7c7c7;
  content: "";
  position: absolute;
  bottom: 35px;
  width: 100%;
  }

#itemslider h4{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 10px auto 3px;
}
#itemslider h5{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
  margin: 3px auto 2px;
}
#itemslider h6{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 10px;
  margin: 2px auto 5px;
}
.badge {
  background: #b20c0c;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 31px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  border: 2px solid #FFF;
  box-shadow: 0 0 0 1px #b20c0c;
  top: 5px;
  right: 25%;
}
#slider-control img{
  padding-top: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 992px){
#slider-control img {
  padding-top: 70px;
  margin: 0 auto;
}
}

.carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
  margin-left: 5px;
}
.carousel-showmanymoveone .carousel-control.right {
  margin-right: 5px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
  display: none;
}
@media all and (min-width: 768px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -16.666%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 16.666%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3,
  .carousel-showmanymoveone .carousel-inner .cloneditem-4,
  .carousel-showmanymoveone .carousel-inner .cloneditem-5,
  .carousel-showmanymoveone .carousel-inner .cloneditem-6  {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(16.666%, 0, 0);
    transform: translate3d(16.666%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-16.666%, 0, 0);
    transform: translate3d(-16.666%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
.social img {
  width: 30px;
  height: 30px;
}
/* Center images */
img.memberPicture {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Small boxes */
.bio {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Text styling */
.bio h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.bio strong {
  font-weight: bold;
}

.bio p {
  margin-top: 0;
  margin-bottom: 10px;
}


